@CHARSET "utf-8";

/* 
 * A class representing all of the navigation bar links.
 */
.divContentNavbarDIV {
	position: relative;
	float: left;
	
	height: 100%;
	text-align: center;
}
.divContentNavbarDIV:hover {
	background-color: #34495E;
	cursor: pointer;
}
.divContentNavbarDIV:hover .divContentNavbarLink {
	color: var(--color-active-navbar-links);
	border-bottom: 2px solid var(--color-active-navbar-links);
}

/* 
 * A class representing all of the navigation bar links.
 */
.divContentNavbarLink {
	display: inline-block;
	
	font-size: 16px;
	
	color: var(--color-inactive-navbar-links);
	text-decoration: none;
}
.divContentNavbarLink:link {
	color: var(--color-inactive-navbar-links);
	text-decoration: none;
}
.divContentNavbarLink:visited {
	color: var(--color-inactive-navbar-links);
	text-decoration: none;
}
.divContentNavbarLink.active {
	color: var(--color-active-navbar-links);
	border-bottom: 2px solid var(--color-active-navbar-links);
}
.divContentNavbarLink:hover {
	color: var(--color-active-navbar-links);
	border-bottom: 2px solid var(--color-active-navbar-links);
}

/**
 * A class representing log text areas
 */
.textareaContentLog {
	position: relative;
	
	width: 95%;
	height: 19px;
	
	padding: 0px;
	padding-left: 5px;
	border: 0px;
	
	overflow: hidden;
    outline: none;
	resize: none;
	
	font-size: 14px;
	font-family: Consolas;
	
	background-color: transparent;
}

#divContentNavbar {
	position: relative;
	top: 0px;
	
	height: 15%;
	width: 100%;
}

#divContentTitleContainer {
	position: relative;
	
	height: 10%;
	width: 100%;
}

#divContentContent {
	position: relative;
	top: 2%;
	
	height: 40%;
	width: 75%;
	
	margin-left: 3%;
}

#divContentStatistics {
	position: relative;
	top: 5%;
	
	width: 100%;
	height: 30%;
	
	overflow: auto;
	
	background-color: var(--background-content-statistics);
}

#divContentLog {
	position: absolute;
	top: 20%;
	right: 1%;
	
	width: 19%;
	height: 45%;
	
	z-index: 1;
	opacity: 1;
	
	background-color: var(--background-content-log);
}

#divContentLogTitle {
	position: relative;
	
	top: 0px;
	left: 0px;
	margin-bottom: 5px;
	
	width: 100%;
	height: 10%;
	
	text-align: center;
	
	background-color: var(--background-navbar);
}

#divContentLogText {
	position: relative;
	
	width: 100%;
	height: 100%;
	
	overflow: auto;
}

#spanContentLogTitleText {
	color: var(--color-text);
	font-size: 16px;
}

#spanContentNetworkStatusPercentage {
	position: absolute;
	top: calc(50% - 18px);
	
	width: 30%;
	
	text-align: center;
	color: var(--color-text-positive);
	
	font-size: 36px;
	font-family: Roboto;
}