@CHARSET "utf-8";

/* FONTS */
@font-face {
    font-family: Oblik;
    src: url(../fonts/oblik.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat.otf);
}

/* Global Constants */
:root {
	--background-logo: #8BC34A;
	--background-navbar: #34495E;
	--background-content: #243342;
	--background-content-log: rgba(37, 53, 68, 0.85);
	--background-content-statistics: #161F28;
	
	--color-text: white;
	--color-text-secondary: #95A5A6;
	--color-active-navbar-links: white;
	--color-inactive-navbar-links: #95A5A6;
	--color-text-positive: #8BC34A;
	
	--color-log-info: #b9b9bb;
	--color-log-warning: #d6d661;
	--color-log-critical: #f31d1d;
	
	--form-color-background: #34495E;
	--form-color-mandatory-background: #34495E;
	--form-color-border: #3868a0;
	--form-color-mandatory-border: #80ab50;
	--form-color-placeholder-text: #889EB2;
	
	
	--button-color-background: #8BC34A;
	--button-color-border: #8BC34A;
}

/* 
 * Stretch the body on the entire screen,
 * and color the background.
 */
body {
	position: absolute;
	height: 100%;
	width: 100%;
	
	font-family: Montserrat;
	color: var(--color-text);
}

/* 
 * Align the specified element vertically.
 */
.vertical-center {
	display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*
 * Vaultra's specially crafted form inputs.
 */
.form-vaultra {
	color: var(--color-text);
	background-color: var(--form-color-background);
	
	border: 2px solid var(--form-color-border);
}
.form-vaultra::-webkit-input-placeholder {
	color: var(--form-color-placeholder-text);
	font-style: italic;
}
.form-vaultra::-moz-placeholder {
	color: var(--form-color-placeholder-text);
	font-style: italic;
}
.form-vaultra:-ms-input-placeholder {
	color: var(--form-color-placeholder-text);
	font-style: italic;
}

/*
 * Vaultra's specially crafted mandatory form inputs.
 */
.form-vaultra-mandatory {
	color: var(--color-text);
	background-color: var(--form-color-mandatory-background);
	
	border: 2px solid var(--form-color-mandatory-border);
}

/*
 * Vaultra's specially crafted form buttons.
 */
.btn-vaultra {
	color: var(--color-text);
	background-color: var(--button-color-background);
	
	border-color: var(--button-color-border);
}

/**
 * Vaultra's titles.
 */
.vaultra-title {
	display: inline-block;
	
	margin-top: 1%;
	margin-left: 5%;
	
	font-size: 30px;
	color: var(--color-text);
}

/**
 * Vaultra's subtitles
 */
.vaultra-subtitle {
	display: inline-block;
	
	margin-top: 1%;
	margin-left: 1%;
	
	font-size: 16px;
	font-weight: normal;
	color: var(--color-text-secondary);
}

/* 
 * The DIV containing the page header (logo and navigation bar).
 */
#divHeaderMain {
	position: absolute;
	float: left;
	
	top: 0px;
	left: 0px;
	
	height: 100%;
	width: 15%;
}

/* 
 * The DIV containing the page content.
 */
#divContentMain {
	position: absolute;
	float: right;
	
	top: 0px;
	left: 15%;
	
	height: 100%;
	width: 85%;
	
	background-color: var(--background-content);
}